.header {
    @apply flex items-center justify-center bg-[#222326] w-full m-auto
}

.button.gray {
    @apply text-white py-2 px-4 bg-gray-400 m-2 rounded hover:bg-blue-400
}

.button.active {
    @apply border-blue-700 bg-blue-500
}